@font-face {
    font-family: EricssonFont;
    src: url(../font/Ericsson.ttf);
}

body, html {
	height: 100%;
	width: 100%;
	background: -webkit-linear-gradient(left, red, orange, yellow, green); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, red, orange, yellow, green); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, red, orange, yellow, green); /* For Fx 3.6 to 15 */
    background: linear-gradient(to right, red, orange, yellow, green); /* Standard syntax (must be last) */
}

.container {
	background-color: white;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 20px;
}

.basedata {
	width: 95%;
}

#edit {
	float: right;
}

#pagination {
	float: right;
}

.form-control {
	width: 50%;
}
#info {
	visibility: hidden;
}
#ericsson {
	margin-top: 5px;
	float: right;
}

h2 {
	color: red;
}
h3 {
	color: green;
}

h2, h3 {
		font-family: EricssonFont;
}

.title {
	font-style: italic;
	font-weight: bold;
}

.table {
	  width: auto;
      border-collapse: collapse;
	  empty-cells: hide;
	  margin-left: center;
	  margin-top: 5px;
	  cursor:cell;
}

myFailureCount.th {
	background-color: green;
	color: white;
}

tr {
	text-align: center;
}

tablesorter-header{
	background-color: green;
}

td {
	color: blue;
}

/* .submit{ */
/* 	border: none; */
/* 	cursor: pointer; */
/* 	background-color: green; */
/* 	color: white; */
/* 	text-align: center; */
/* 	display: inline-block; */
/* } */

.submit:hover {
	background-color: orange;
}

.submit {
	margin-left: 12px;
}

.message{
	font-size: 20px;
	
}
.message1{
	margin-left: 5%;
	font-size: 15px;
}

.form-control {
	width: auto;
}

.col-sm-2 {
   margin-top: 5px;
   width: auto;
}

.last, .next, .prev, .first {
	margin-right: 5px;
}

.last:hover {
	background-color: greenyellow;
}
.next:hover {
	background-color: greenyellow;
}
.prev:hover {
	background-color: greenyellow;
}
.first:hover {
	background-color: greenyellow;
}

.tablesorter-pager .pagedisplay{
	margin-right: 3px;
	margin-left: 3px;
}

#Playlist{
	align: center;
}

#section {
    width:30%;
    float:left;
    padding:10px; 
}

#aside {
    width:70%;
    float:right;
}

section {
	width:70%;
    margin-left: 2%;
    margin-right: 2%
    padding: 5px;
}
div#one {
    width: auto;
    height: auto;
    float: left;
}
div#two {
    margin-left:2%;
    height: auto;
}

div#formDiv {
	background-color: gold;
	border-radius: 20px;
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
}
