@font-face {
    font-family: EricssonFont;
    src: url(../font/Ericsson.ttf);
}

body, html {
	height: 100%;
/* 	background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33)); */
	background-image: url("../images/background.jpg");
/* 	background-repeat: repeat-y; */
}

.container {
	background-color: white;
	margin-top: 50px;
	border-radius: 20px;
}

.basedata {
	width: 85%;
}

.form-control {
	width: 50%;
}
#info {
	visibility: hidden;
}
#ericsson {
	margin-top: 5px;
	float: right;
}

h2 {
	color: red;
}
h3 {
	color: green;
}

h2, h3 {
		font-family: EricssonFont;
}

.title {
	font-style: italic;
	font-weight: bold;
}

.table{
	width: auto;
	border-collapse: collapse;
	empty-cells: hide;
	margin-left: center;
	margin-top: 5px;
}
tablesorter-header{
	background-color: green;
}

tr:HOVER {
	background-color: orange;
}

/* .submit{ */
/* 	border: none; */
/* 	cursor: pointer; */
/* 	background-color: green; */
/* 	color: white; */
/* 	text-align: center; */
/* 	display: inline-block; */
/* } */

.submit:hover {
	background-color: orange;
}

.message{
	font-size: 20px;
	
}
.message1{
	margin-left: 5%;
	font-size: 15px;
}

.123 {
	background-color: red;
}